@charset "utf-8";
/* CSS Document */
.navbar {
	margin:0;
}

.jumbotron {
	background-color:#428BCA;
	color:#F4F0F0;
	padding:20px 0;
	
}

.jumbotron .titulo-blog {
	font-size:40px;
}
/*--POST--*/
.main {
	margin-top:20px;
	margin-bottom:20px;
}
.post {
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid #999;	
}

.post .post-title a {
color: #333;
}

.post .thumb {
	margin-right:10px;
	/*width:40%;*/
}

.post .thumb img {
	width:100%;
}

.post .contenedor-botones {
	width:100%;
}

/*Media Querie*/
@media screen and (max-width: 768px ){
    .post .thumb {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
}

/*body {
    background-color:cornflowerblue
}*/

h2 {
    color: aliceblue;
}

textarea {
    border-radius: 20px;
}
